body {
    font-family: Roboto;
    background: #f9f9f9;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 57px;
}

a {
    text-decoration: none;
}

h1, h3, a {
    color: #000000;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

a, p, span, dt {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.section-wrap {
    background: #eeeff1;
}

.content__text {
    color: #727272;
}

.content__submit_info {
    color: #FFFFFF;
    background: #34547A;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 50%;
}

.header__text-logo {
    font-family: 'Revalia';
    line-height: 60px;
}

.header__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.header__link_text {
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
}

.header__text-color {
    color: #34547A;
}

.header-content {
    display: flex;
    padding: 12%;
}

.header-content__img {
    align-self: center;
    width: 35%;
    margin-left: 17%;
}

.header-content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_logo {
    width: 100%;
}

.header-content__btn {
    width: 45%;
    height: 15%;
}

.header-content__btn_text {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 6%;
}

.content-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 6%;
}

.content-image__container {
    display: flex;
    flex-direction: row;
    margin: 2.5%;
}

.content-image__container-text {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.content-image__container-text_text {
    margin: 0;
}

.content-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.content-info__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    height: 320px;
}

.content-info__list-item {
    width: 445px;
    height: 4px;
    margin: 0;
    background: #C4C4C4;
}

.content-info__list-item_item {
    width: 80%;
    border: 3px solid #34547A;
}

.content-info__img-picture {
    width: 555px;
    height: 450px;
    background-size: cover;
}

.section__replica-video {
    text-align: center;
}

.section__replica-video_img {
    /* width: 1110px; */
    /* padding: 3% 0 7% 0; */
    width: 100%;
    height: 100%;  
}
.section__replica-video-box {
    background-size: cover;
    width: 100%;
    height: auto;
}

.section__replica-video_img_btn {
    position: relative;
    bottom: 380px;
    right: 615px;
    height: 100px;
    width: 100px;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_container_box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section-container__picture {
    position: relative;
    width: 25%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
}

.section-container__picture_img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay-image {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-image__img {
    height: 100px;
}

.section-container__picture:hover .section-container__picture_img {
    opacity: 0.3;
}

.section-container__picture:hover .overlay-image {
    opacity: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.form__input {

}

.form__input_message {
    width: 100%;
}

.btn-submit__container {
    width: 190px;
    height: 55px;
}

.btn-submit {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.15em;
}

.footer {
    height: 150px;
    display: flex;
}

.footer__links {
    width: 50%;
}

.footer__info{
    width: 50%;
    display: flex;
    justify-content: center;
}

.footer__info_text {
    align-self: center;
}

.footer__info_text-rights {
    font-size: 13px;
}

.footer__info_logo_container {
    align-self: center;
}

.footer__info_logo {
    margin-right: 20px;
}

@media (max-width: 900px) {
    .content-info {
        flex-direction: column;
    }
    .section-container {
        flex-wrap: nowrap;
    }
    .section_container_box {
        flex-direction: column;
 
    }
    .section-container__picture {
        width: 100%;
    }
}